In [2]:
import numpy as np
import pandas as pd

### Задача 1 (3.5 балла)

**Условие.** Напишите код, который:
1. (*0.5 балла*) Принимает на вход слова с маленькой буквы, через запятую и пробел;
2. (*2 балла*) Считает попарные расстояния (определенные как количество уникальных общих элементов деленное на количество уникальных элементов, находящихся в первой последовательности ИЛИ во второй последовательности) между ними (подсчет попарного расстояния должен быть оформлен в виде функции);
3. (*1 балл*) Представляет результаты в виде словаря, в котором ключи - пары слов через `-`, а значения - собственно расстояние, математически округленное до второго знака после запятой.

In [ ]:
text = input()
text_split = text.split(', ')

def word_distance_calculator(text_split):
    dict_distance = {}
            
    for i in range(len(text_split)):   
        for j in range(i+1, len(text_split)):
            unique_letter1 = set()
            unique_letter2 = set()
            for letter in text_split[i]:
                if text_split[i].count(letter) > 1:
                    continue
                else:
                    unique_letter1.add(letter)
            for letter in text_split[j]:
                if text_split[j].count(letter) > 1:
                    continue
                else:
                    unique_letter2.add(letter)
            print(unique_letter1, unique_letter2)
            
            distance_numerator = len(unique_letter1.intersection(unique_letter2))
            distance_denominator = len(unique_letter1.symmetric_difference(unique_letter2)) +\
                len(unique_letter2.symmetric_difference(unique_letter1))        
            distance = distance_numerator / distance_denominator
            dict_distance[text_split[i] + '-' + text_split[j]] =  round(distance,2)
            
    return dict_distance
        
word_distance_calculator(text_split)

### Задача 2 (3 балла)

**Условие.** Как известно, полученные при построении ML-модели предсказания отличаются от фактических значений. Чтобы измерять такое отклонение, были придуманы несколько метрик. Наиболее популярные из них - MSE (mean squared error), RMSE (root mean squared error) и MAE (mean absolute error).

Реализуйте функцию, которая будет принимать на вход `numpy.array` (формы (1, N) с предсказанными значениями, `numpy.array` реальными значениями и строку с обозначением нужной метрики (дефолтное значение - `'RMSE'`). Аббревиатура должна распознаваться как с большими буквами, так и с маленькими (`'RMSE'` и `'rmse'`). В случае, если строка не является аббревиатурой ни одной из трех обозначенных метрик, функция должна печатать "Unknown metric selected" и не возвращать ничего.

Использование циклов, генераторов списков и функции `map()` запрещено - только инструменты `numpy`.

<u>Критерии оценивания</u>: по одному баллу за каждую метрику.

<u>Материалы</u>:

![metrics](https://4.bp.blogspot.com/-wG7IbjTfE6k/XGUvqm7TCVI/AAAAAAAAAZU/vpH1kuKTIooKTcVlnm1EVRCXLVZM9cPNgCLcBGAs/s1600/formula-MAE-MSE-RMSE-RSquared.JPG)

In [21]:
def mean_error(predicted_array, realdata_array, string='RMSE'):
    n = len(realdata_array)
    if string == 'RMSE' or string == 'rmse':
        return ((((realdata_array - predicted_array)**2).sum())/n)**0.5
    elif string == 'MSE' or string == 'mse':
        return (((realdata_array - predicted_array)**2).sum())/n
    elif string == 'MAE' or string == 'mae':
        return (np.abs(realdata_array - predicted_array).sum())/n
    else:
        print('Unknown metric selected')

### Задача 3 (3.5 балла)

**Условие.** Вы имеете [данные](https://www.kaggle.com/datasets/spscientist/students-performance-in-exams) с Kaggle, которые содержат информацию о результатах студентов при написании разных тестов.

**Описание колонок.**
- `gender` (пол);
- `race/ethnicity` (этническая принадлежность);
- `parental level of education` (уровень образования родителей);
- `lunch` (тип ланча - стандартный или урезанный/отсутствующий);
- `test preparation course` (прошел ли студент подготовку к тесту);
- `math score` (баллы за тест по математике);
- `reading score` (баллы за чтение);
- `writing score` (баллы за письмо).

#### Задание 3.1 (0.25 баллов)
Загрузите данные с помощью модуля `pandas`:

In [41]:
test_results = pd.read_csv('StudentsPerformance.csv')

#### Задание 3.2 (0.25 баллов)

Проверьте, есть ли пропущенные значения, и если да, то удалите строки с таковыми:

In [42]:
test_results.info()
test_results.dropna(inplace=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 8 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   gender                       1000 non-null   object
 1   race/ethnicity               1000 non-null   object
 2   parental level of education  1000 non-null   object
 3   lunch                        1000 non-null   object
 4   test preparation course      1000 non-null   object
 5   math score                   1000 non-null   int64
 6   reading score                1000 non-null   int64
 7   writing score                1000 non-null   int64
dtypes: int64(3), object(5)
memory usage: 62.6+ KB

#### Задание 3.3 (0.25 баллов)

Измените названия всех переменных так, чтобы разделителем в них (вместо пробела или `'/'`) было нижнее подчеркивание:

In [43]:
test_results.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [44]:
test_results = test_results.rename({'race/ethnicity': 'race_ethnicity', 
                     'parental level of education': 'parental_level_of_education',
                     'test preparation course': 'test_preparation_course',
                     'math score': 'math_score', 'reading score': 'reading_score',
                     'writing score': 'writing_score'}, axis=1)

#### Задание 3.5 (1 балл)

На основе данной колонки создайте новую переменную, которая будет называться `parents_higher_education` и принимать значение 0 при значениях исходной переменной (`'parental_level_of_education'`) `'high school'` и `'some high school'`, и 1 - в ином случае:

In [45]:
test_results['parents_higher_education'] = test_results['parental_level_of_education'].apply(
    lambda x: 0 if x == 'high school' or x == 'some high school' else 1)

#### Задание 3.6 (1.5 баллов)

Сгруппируйте результаты тестов по каждой категориальной переменной (с использованием метода `.groupby()`) и посчитайте среднее значение каждого теста по группам. Какие выводы можно сделать?

In [ ]:
test_results.head()

In [47]:
grouped_results_gender = test_results.groupby(by='gender')[['math_score', 'reading_score',	'writing_score']].mean().reset_index()
grouped_results_gender

   gender  math_score  reading_score  writing_score
0  female   63.633205      72.608108      72.467181
1    male   68.728216      65.473029      63.311203

успеваемость по чтению и письму лучше у группы female, а математика лучше у male

In [48]:
grouped_results_RE = test_results.groupby(by='race_ethnicity')[['math_score', 'reading_score',	'writing_score']].mean().reset_index()
grouped_results_RE

  race_ethnicity  math_score  reading_score  writing_score
0        group A   61.629213      64.674157      62.674157
1        group B   63.452632      67.352632      65.600000
2        group C   64.463950      69.103448      67.827586
3        group D   67.362595      70.030534      70.145038
4        group E   73.821429      73.028571      71.407143

чем больше буква (B>A), тем выше успеваемость по всем предметам

In [49]:
grouped_results_PLoE = test_results.groupby(by='parental_level_of_education')[['math_score', 'reading_score',	'writing_score']].mean().reset_index()
grouped_results_PLoE

  parental_level_of_education  math_score  reading_score  writing_score
0          associate's degree   67.882883      70.927928      69.896396
1           bachelor's degree   69.389831      73.000000      73.381356
2                 high school   62.137755      64.704082      62.448980
3             master's degree   69.745763      75.372881      75.677966
4                some college   67.128319      69.460177      68.840708
5            some high school   63.497207      66.938547      64.888268

лучшие оценки у тех групп, у которых у родителей высшее образование (лучшие результаты у bachelor's и master's degree)

In [50]:
grouped_results_lunch = test_results.groupby(by='lunch')[['math_score', 'reading_score',	'writing_score']].mean().reset_index()
grouped_results_lunch

          lunch  math_score  reading_score  writing_score
0  free/reduced   58.921127      64.653521      63.022535
1      standard   70.034109      71.654264      70.823256

группы с полноценным обедом лучше учатся по всем предметам

In [51]:
grouped_results_TPC = test_results.groupby(by='test_preparation_course')[['math_score', 'reading_score',	'writing_score']].mean().reset_index()
grouped_results_TPC

  test_preparation_course  math_score  reading_score  writing_score
0               completed   69.695531      73.893855      74.418994
1                    none   64.077882      66.534268      64.504673

у групп, закончивших подготовительные курсы, результаты выше по всем предметам

In [52]:
grouped_results_PHE = test_results.groupby(by='parents_higher_education')[['math_score', 'reading_score',	'writing_score']].mean().reset_index()
grouped_results_PHE

   parents_higher_education  math_score  reading_score  writing_score
0                         0   62.786667      65.770667      63.613333
1                         1   68.070400      71.208000      70.718400

группы, где у родителей учашихся высшее образования, имеют более высокие баллы по всем предметам